@inherits UmbracoViewPage

@{
    var globalSettings = (GlobalSettings)Model.GlobalSettings();

    string podStyle = ViewData["podstyle"].ToString();
    string pageType = ViewData["pagetype"] != null ? ViewData["pagetype"].ToString() : String.Empty;

    IEnumerable<IPublishedContent> pods = null;
    Options pageLayout;
    Boolean addPodContainer = false;

    if (!Model.HasValue("pageLayout"))
    {
        pageLayout = globalSettings.DefaultPageLayout.HasValue() ? (Options)globalSettings.DefaultPageLayout : Options.PageLayout_Left;
    }
    else
    {
        pageLayout = Model.Value<Options>("pageLayout");
    }

    if ((podStyle == "vertical" && pageLayout != Options.PageLayout_Wide) || (podStyle == "horizontal" && pageLayout == Options.PageLayout_Wide) || pageType == "advanced")
    {
        if (Model.Value<bool>("overrideDefaultPods"))
        {
            if (Model.HasValue("pagePods") && Model.HasValue("pagePods"))
            {
                pods = Model.Value<IEnumerable<IPublishedContent>>("pagePods");
            }
        }
        else
        {
            if (globalSettings.DefaultSitewidePods.HasValue())
            {
                pods = globalSettings.DefaultSitewidePods;
            }
        }


        if(pods != null)
        {
            var publishedContents = pods as IList<IPublishedContent> ?? pods.ToList();
            if (publishedContents.Any())
            {
                if (pageLayout == Options.PageLayout_Wide || pageType == "advanced")
                {
                    @:<section class="content swp-wide"><div class="container"><div class="row">

                    addPodContainer = true;
                }

                <div class="swp">
                    @foreach (var pod in publishedContents)
                    {
                        if (pod != null)
                        {
                            @Html.Partial("SiteWidePods/PodsSwitch", pod, new ViewDataDictionary { { "globalSettingsID", Model.GlobalSettings.Id }, { "addPodContainer", addPodContainer } })
                        }

                    }
                </div>

                if (pageLayout == Options.PageLayout_Wide || pageType == "advanced")
                {
                    @:</div></div></section>
                }
            }
        }
    }
}
